*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(90deg, rgb(178, 241, 178), rgb(187, 234, 223));
}

.card{
    margin: 9rem;
}

table{
    background-image: linear-gradient(90deg, rgb(168, 118, 187), rgb(187, 234, 223));
}